Host-part/images/
Host-part/logs/
Host-part/training_data_npz/
**/__pycache__/
.vscode/
Host-part/decent/quantize_results/
Host-part/decent/compile/
Pynq-Part/system/
**/rootfs.tar.gz
**/system.zip
**/*.o
**/*.npz
**/logs
**/*.pb
**/*.h5
#**/log*
**/images_*.jpg
Virtual-Part/*.pyc
Virtual-Part/simulator/Library
Virtual-Part/simulator/log*/*
Virtual-Part/simulator/obj
Virtual-Part/simulator/*.sln
Virtual-Part/simulator/*.userprefs
Virtual-Part/simulator/Temp
Virtual-Part/simulator/Build
Virtual-Part/simulator/Packages
Virtual-Part/simulator/Logs
Virtual-Part/simulator/.vs
Virtual-Part/*.csproj
Virtual-Part/env
Pynq-Z2_AD_Car/_book/*
Papers/*
!Papers/**/*.pdf

